
$pri: #26C6D0;
$pri-linear: linear-gradient(45deg, #4EE5EA, #26D0A8);
$dark : #414042;
$white: #fff;
$light: #f2f2f2;
$danger: #EE6C8A;
$purple: #585880;
$warning: #FFBC58;

$colors: (
  "pri": $pri,
  "pri-linear": $pri-linear,
  "dark": $dark,
  "white": $white,
  "danger": $danger,
  "purple": $purple,
  "warning": $warning,
);

$card-colors: $pri, #E6A94E, $purple, $danger, #26D0A8, $white;